body {
    margin: 10em;
}

/* #main {
    margin: auto;
    height: 500px;
    width: 960px;
    border: 1px solid red;

} */

.container {
    height: 500px;
    width: 960px;
    font-size: 0;
    margin: auto;

}

.gridSquare {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    background: orange;

}

.gridSquareColor {
    background: blue;
}